<div class="container-fluid">
  <div class="row">
    <form [formGroup]="authForm" (ngSubmit)="submitForm()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          #username
          placeholder="test"
          maxlength="256"
        />

        <mat-hint align="start">{{ username.value.length }} / 256</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          #email
          placeholder="test@test.com"
          maxlength="256"
        />

        <mat-hint align="start">{{ email.value.length }} / 256</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          #password
          placeholder="test1234"
          maxlength="256"
          type="password"
        />

        <mat-hint align="start">{{ password.value.length }} / 256</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" #role type="text" readonly />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" id="submit">
        Register Journalist
      </button>
    </form>
    <list-errors [errors]="errors"></list-errors>
  </div>
</div>
