<mat-card-header>
  <div mat-card-avatar class="example-header-image">
    <a
      [routerLink]="['/profile', article.author.username]"
      class="cardheaderlink"
    >
      <img [src]="article.author.image" alt="author image" />
    </a>
  </div>
  <mat-card-title>
    <a class="author" [routerLink]="['/profile', article.author.username]">
      {{ article.author.username }}
    </a>
  </mat-card-title>
  <mat-card-subtitle>
    {{ article.createdAt | date: "longDate" }}
  </mat-card-subtitle>
  <mat-card-subtitle>
    <!-- <span *ngFor="let tag of article.tagList">{{ tag }}</span> -->
  </mat-card-subtitle>
  <ng-content></ng-content>
</mat-card-header>
