<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <article-meta [article]="article">
        <span [hidden]="!canModify">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/editor', article.slug]"
          >
            <i class="ion-edit"></i> Edit Article
          </a>
          <button
            class="btn btn-sm btn-ouline-danger"
            [ngClass]="{ disabled: isDeleting }"
            (click)="deleteArticle()"
          >
            <i class="ion-trash-a"> </i> Delete Article
          </button>
        </span>

        <span [hidden]="canModify">
          <!--           <favorite-button [article]="article" (onToggle)="onToggleFavorite($event)">
              {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article
              <span class="counter">({{ article.favoritesCount }})</span>
            </favorite-button> -->
        </span>
      </article-meta>
    </div>
  </div>

  <div class="container-fluid page">
    <div class="row article-content">
      <div class="col-md-12">
        <div [innerHTML]="article.body | markdown"></div>
        <ul class="tag-list">
          <li
            *ngFor="let tag of article.tagList"
            class="tag-default tag-pill tag-outline"
          >
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <form
          class="card comment-form"
          (ngSubmit)="addComment()"
          *ngIf="currentUser.username"
        >
          <div class="commentcard">
            <div class="card-block">
              <textarea
                [disabled]="isSubmitting"
                class="card-text"
                placeholder="Write a comment..."
                rows="3"
                [formControl]="commentControl"
              ></textarea>
              <div>
                <div class="card-footer">
                  <img class="comment-author-img" [src]="currentUser.image" />
                  <span class="comment-author">
                    {{ currentUser.username }}</span
                  >
                  <span class="mod-options">
                    <button mat-raised-button type="submit">
                      <mat-icon>post_add</mat-icon> Post
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div *ngIf="!currentUser.username">
          <a [routerLink]="['/auth/login']">Sign in</a> or
          <a [routerLink]="['/auth/register']">sign up</a> to add comments on
          this article.
        </div>
        <hr />

        <article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)"
        >
        </article-comment>
      </div>
    </div>
  </div>
</div>
