<div class="home-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <article-list [limit]="12" [config]="listConfig"></article-list>
      </div>
      <div class="col-md-2">
        <div class="sidebar">
          <p>Popular Tags</p>
          <mat-chip-list>
            <a
              *ngFor="let tag of tags"
              mat-chip
              color="primary"
              selected
              [routerLink]="['/search/tag/', tag]"
              routerLinkActive="active"
            >
              {{ tag }}
            </a>
          </mat-chip-list>

          <div [hidden]="tagsLoaded">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length">
            No tags are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
